<form
    method="post"
    action="/orgs/{{ org.id }}/vaults/new"
    hx-post="/orgs/{{ org.id }}/vaults/new"
>
    <div class="card">
        <div class="card-content">
            <h1 class="title is-4 has-text-weight-bold">Vault</h1>

            {% match error_message %}
                {% when Some with (msg) %}
                    <div class="mb-5 notification is-danger">
                        {{ msg }}
                    </div>
                {% when None %}
            {% endmatch %}

            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        id="create-vault-name"
                        name="name"
                        value="{{ payload.name }}"
                        placeholder="Vault Name"
                        required
                        minlength="1"
                        maxlength="60"
                    >
                </div>
            </div>

            <hr />

            <div class="field is-grouped">
                <div class="control">
                    <input type="hidden" name="token" value="{{ payload.token }}" />
                    <button class="button is-link" type="submit" name="submit">Submit</button>
                </div>
                <div class="control">
                    <a class="button is-link is-light" href="/orgs/{{ org.id }}/vaults">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>

