{% extends "layout/base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li class="is-active"><a href="/" aria-current="page">Home</a></li>
            </ul>
        </nav>

        <h1 class="title">My Vaults</h1>

        {% if vaults.len() > 0 %}
        <div class="columns is-multiline">
            {% for vault in vaults %}
                <div class="column is-one-third-tablet is-full-mobile">
                    <a href="/vaults/{{ vault.id }}" class="vault-link">
                        <span class="vault-tile">
                            <span class="icon vault-icon has-text-grey-dark">
                                <i class="fas fa-key"></i>
                            </span>
                            <p class="vault-name">{{ vault.name }}</p>
                        </span>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="message is-info">
            <div class="message-header">
                <p>No vaults</p>
            </div>
            <div class="message-body">
                You have no vaults yet. Contact system admin.
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
