{% extends "layout/base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/orgs">Orgs</a></li>
                <li><a href="/orgs/{{ org.id }}">{{ org.name }}</a></li>
                <li class="is-active">
                    <a href="/orgs/{{ org.id }}/vaults" aria-current="page">
                        <span>Vaults</span>
                    </a>
                </li>
            </ul>
        </nav>

        <h1 class="title">Vault Management</h1>

        <div class="is-flex is-justify-content-space-between mb-5">
            <div>
                <a class="button" href="/orgs/{{ org.id }}">
                    <span class="icon is-small">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span>Back</span>
                </a>
            </div>

            <div>
                <a class="button is-primary" href="/orgs/{{ org.id }}/vaults/new">
                    <span class="icon is-small">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>New Vault</span>
                </a>
            </div>
        </div>

        {% if vaults.len() > 0 %}
        <div class="box">
            <table class="table is-striped is-hoverable is-fullwidth">
              <thead>
                <tr>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                {% for vault in vaults %}
                <tr>
                    <td><a href="/orgs/{{ org.id }}/vaults/{{ vault.id }}">{{ vault.name }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        {% else %}
        <div class="message is-info">
            <div class="message-header">
                <p>No vaults</p>
            </div>
            <div class="message-body">
                There are no vaults yet for this org.
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
